openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW PlayNation Web API'
 description: 'Web Resources Specification (A7) for PlayNation'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://gitlab.up.pt/lbaw/lbaw2526/lbaw2551/-/wikis/eap
 

tags:
 - name: 'M01: Authentication and Users'
 - name: 'M02: Administration'
 - name: 'M03: Posts'
 - name: 'M04: Search'
 - name: 'M05: Comments'
 - name: 'M06: Groups'
 
paths:

############################################ AUTHENTICATION AND USERS ############################################

######### LOGIN #########
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Present Login Form. Access: VST'
      tags:
        - 'M01: Authentication and Users'
      responses:
        '200':
          description: 'OK. Show Login Form'

    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Present Login Information. Access: VST'
      tags:
        - 'M01: Authentication and Users'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                  - password
      responses:
       '302':
         description: 'Redirect after processing the login credentials.'


######### LOGOUT #########

  /logout:
    post:
      operationId: R103
      summary: 'R103 : Logout Operation'
      description: 'Logout the current logged user. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      responses:
        '302':
          description: 'Redirect after processing logout.'


######### REGISTER #########

  /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: VST'
     tags:
       - 'M01: Authentication and Users'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Operation'
     description: 'Processes the new user registration information. Access: VST'
     tags:
       - 'M01: Authentication and Users'
     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               username:
                 type: string
               name:
                 type: string
               password:
                 type: string
                 format: password
               email:
                 type: string
                 format: email
               password_confirmation:
                 type: string
                 format: password
             required:
                - name
                - username
                - email
                - password
                - password_confirmation
     responses:
       '302':
         description: 'Redirect after processing the new user information.'


######### RECOVER PASSWORD #########
  
  /recoverPassword:
    get:
      operationId: R106a
      summary: 'R106a: Recover Password Form'
      description: 'Show form to input email for recovery. Access: VST'
      tags:
        - 'M01: Authentication and Users'
      responses:
        '200':
          description: 'Success.'

    post:
      operationId: R106
      summary: 'R106 : Send Recovery Email'
      description: 'Sends an email with a reset link. Access: VST'
      tags:
        - 'M01: Authentication and Users'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required:
                - email
      responses:
        '302':
          description: 'Redirect after sending email.'


######### RESET PASSWORD #########

  /resetPassword/{token}:
    get:
      operationId: R107a
      summary: 'R107a: Reset Password Form'
      description: 'Show form to reset password. Access: VST'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Success.'

  /resetPassword:
    post:
      operationId: R107
      summary: 'R107: Reset Password Action'
      description: 'Reset the password using the token. Access: VST'
      tags:
         - 'M01: Authentication and Users'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
      responses:
        '302':
          description: 'Password reset. Redirect to login.'

      
######### TIMELINE #########

  /home:
    get:
      operationId: R108
      summary: 'R108: View timeline'
      description: 'Show the timeline. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      responses:
        '200':
          description: 'OK. Show the timeline.'

######### USER PROFILE #########

  /profile/{id}:
    get:
      operationId: R109
      summary: 'R109: View User Profile Page'
      description: 'Show the profile for a user. Access: AUTH, VST'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True
      responses:
        '200':
          description: 'OK. Show the profile page.'

    put:
      operationId: R111
      summary: 'R111: Update User Profile'
      description: 'Processes and saves the alterations made by user. Access: OWN'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                description:
                  type: string
                image:
                   type: string
                   format: binary
                is_public:
                  type: boolean
      responses:
        '302':
          description: 'Redirect after processing changes.'

    delete:
      operationId: R112
      summary: 'R112: Delete User Account'
      description: 'Deletes a user account. Access: OWN, ADM'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect after deleting user.'

  /profile/{id}/edit:
    get:
      operationId: R110
      summary: 'R110: Edit User Profile Form'
      description: 'Shows the page for editing the profile. Access: OWN'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True
      responses:
        '200':
          description: 'Ok. Show edit profile UI.'


######### SETUP #########

  /profile/setup:
    get:
      operationId: R131
      summary: 'R131: Profile Setup Form'
      description: 'Show the profile setup wizard. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      responses:
        '200':
          description: 'OK. Show Setup UI.'

    post:
      operationId: R132
      summary: 'R132: Complete Profile Setup'
      description: 'Saves bio, picture, and labels. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                biography:
                  type: string
                profile_picture:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Setup complete. Redirect to Home.'


######### FRIENDS #########

  /user/{id}/sendFriendRequest:
    post:
      operationId: R115
      summary: 'R115: Send Friend Request'
      description: 'Sends a friend request to another user. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Request sent.'

  /friend/remove/{id}:
    delete:
      operationId: R114
      summary: 'R114: Remove Friend'
      description: 'Ends friendship with another user. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Friend removed.'

  /user/{id}/block:
    post:
      operationId: R119
      summary: 'R119: Block User'
      description: 'Blocks another user. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. User blocked.'

  /profile/{id}/friends:
    get:
      operationId: R120
      summary: 'R120: View Friends'
      description: 'Show user friends. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show friends list.'


######### NOTIFICATIONS #########

  /notifications:
    get:
      operationId: R121
      summary: 'R121: Notifications Page'
      description: 'Show user notifications. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      responses:
        '200':
          description: 'OK. Show notifications.'

  /notifications/{id}/read:
    post:
      operationId: R122
      summary: 'R122: Mark Notification Read'
      description: 'Marks notification as read. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok.'

  /notifications/{id}/accept:
    post:
      operationId: R117
      summary: 'R117: Accept Friend Request'
      description: 'Accepts a friend request. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok.'

  /notifications/{id}/deny:
    post:
      operationId: R118
      summary: 'R118: Deny Friend Request'
      description: 'Rejects a friend request. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok.'


######### DIRECT MESSAGES #########

  /messages:
    get:
      operationId: R123
      summary: 'R123: Messages Index'
      description: 'Show user private conversations list. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      responses:
        '200':
          description: 'OK.'

  /messages/{user}:
    get:
      operationId: R124
      summary: 'R124: Show Conversation'
      description: 'Shows the private conversion with another user. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: user
          schema:
            type: integer
          required: True
      responses:
        '200':
          description: 'OK.'

    post:
      operationId: R125
      summary: 'R125: Send Message'
      description: 'Sends a new message to a user. Access: AUTH'
      tags:
        - 'M01: Authentication and Users'
      parameters:
        - in: path
          name: user
          schema:
            type: integer
          required: True
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                content:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Redirect after sending.'


############################################ ADMINISTRATION ############################################

  /admin:
      get:
        operationId: R201
        summary: 'R201: Admin Dashboard'
        description: 'Show Admin Page. Access: ADM'
        tags:
          - 'M02: Administration'
        responses:
          '200':
            description: 'OK.'

  /admin/user/{id}/ban:
    post:
      operationId: R202
      summary: 'R202: Ban User'
      description: 'Ban user. Access: ADM'
      tags:
        - 'M02: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect.'

  /admin/user/{id}/unban:
    post:
      operationId: R203
      summary: 'R203: Unban User'
      description: 'Unban user. Access: ADM'
      tags:
        - 'M02: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect.'

  /admin/user/{id}/verify:
    post:
      operationId: R208
      summary: 'R208: Verify User'
      description: 'Verify user account. Access: ADM'
      tags:
        - 'M02: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
           description: 'Success.'

  /admin/users/{id}/unverify:
    delete:
      operationId: R209
      summary: 'R209: Unverify User'
      description: 'Unverify user account. Access: ADM'
      tags:
        - 'M02: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
           description: 'Success.'

  /admin/create:
    get:
      operationId: R204
      summary: 'R204: Create User Form'
      description: 'Admin form to create user. Access: ADM'
      tags:
        - 'M02: Administration'
      responses:
        '200':
          description: 'OK.'

    post:
      operationId: R205
      summary: 'R205: Create User Action'
      description: 'Admin creates user. Access: ADM'
      tags:
        - 'M02: Administration'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '302':
          description: 'Redirect.'

  /admin/edit/{id}:
    get:
      operationId: R206
      summary: 'R206: Edit User Form'
      description: 'Admin form to edit user. Access: ADM'
      tags:
        - 'M02: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK.'

  /admin/user/{id}:
    delete:
      operationId: R210
      summary: 'R210: Admin Delete User'
      description: 'Admin deletes a user. Access: ADM'
      tags:
        - 'M02: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /admin/post/{id}:
    delete:
      operationId: R211
      summary: 'R211: Admin Delete Post'
      description: 'Admin deletes a post. Access: ADM'
      tags:
        - 'M02: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'


############################################ POSTS ############################################

  /post:
    post:
      operationId: R302
      summary: 'R302: Create Post'
      description: 'Creates a new post. Access: AUTH'
      tags:
        - 'M03: Posts' 
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                caption:
                  type: string
                file:
                  type: string
                  format: binary
                is_public:
                  type: boolean
      responses:
        '302':
          description: 'Redirect.'

  /post/create:
    get:
      operationId: R306
      summary: 'R306: Create Post Form'
      description: 'Show form to create post. Access: AUTH'
      tags:
        - 'M03: Posts'
      responses:
        '200':
          description: 'OK.'

  /post/{id}:
    get:
      operationId: R301 
      summary: 'R301: View Post'
      description: 'Shows a single post page. Access: AUTH, VST'
      tags:
        - 'M03: Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True  
      responses:
        '200':
          description: 'OK.'

    put:
      operationId: R303
      summary: 'R303: Update Post'
      description: 'Edits an existing post. Access: OWN'
      tags:
        - 'M03: Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True  
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                caption:
                  type: string
      responses:
        '302': 
          description: 'Redirect.'

    delete:
      operationId: R304
      summary: 'R304: Delete Post'
      description: 'Deletes a post. Access: OWN, ADM'
      tags:
        - 'M03: Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /post/{id}/edit:
    get:
      operationId: R307
      summary: 'R307: Edit Post Form'
      description: 'Show form to edit post. Access: OWN'
      tags:
         - 'M03: Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True
      responses:
         '200':
           description: 'Ok.'

  /post/{id}/like:
    post:
      operationId: R305
      summary: 'R305: Like Post'
      description: 'Toggle like on a post. Access: AUTH'
      tags:
        - 'M03: Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok.'

  /post/{id}/save:
    post:
      operationId: R308
      summary: 'R308: Save Post'
      description: 'Save a post to saved collection. Access: AUTH'
      tags:
        - 'M03: Posts'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok.'


############################################ SEARCH ############################################

  /api/user:
    get:
      operationId: R401
      summary: 'R401: Search User'
      description: 'Searches for users JSON. Access: VIS'
      tags:
        - 'M04: Search'
      parameters:
      - in: query
        name: query
        schema: 
          type: string
        required: true
      responses:
        '200':
          description: Success

  /api/post:
    get:
      operationId: R402
      summary: 'R402: Search Post'
      description: 'Searches for posts JSON. Access: VIS'
      tags:
        - 'M04: Search'
      parameters:
      - in: query
        name: query
        schema: 
          type: string
        required: true
      responses:
        '200':
          description: Success

  /api/comment/{id}:
    get:
      operationId: R403
      summary: 'R403: Search Comment'
      description: 'Searches for comments in a post JSON. Access: VIS'
      tags:
        - 'M04: Search'
      parameters:
      - in: path
        name: id
        description: Post ID
        schema: 
          type: integer
        required: true
      responses:
        '200':
          description: Success

  /api/group:
    get:
      operationId: R404
      summary: 'R404: Search Group'
      description: 'Searches for groups JSON. Access: VIS'
      tags:
        - 'M04: Search'
      parameters:
      - in: query
        name: query
        schema: 
          type: string
        required: true
      responses:
        '200':
          description: Success


############################################ COMMENTS ############################################

  /post/{id}/comment:
    post:
      operationId: R501
      summary: 'R501: Create Comment'
      description: 'Creates a new comment on a post. Access: AUTH'
      tags:
        - 'M05: Comments'
      parameters:
        - in: path
          name: id
          schema:
             type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        '302': 
          description: 'Redirect.'

  /comment/{id}:
    put:
      operationId: R502
      summary: 'R502: Edit Comment'
      description: 'Edits an existing comment. Access: OWN'
      tags:
        - 'M05: Comments'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        '200': 
          description: 'Ok.'

    delete:
      operationId: R503
      summary: 'R503: Delete Comment'
      description: 'Deletes a comment. Access: OWN, ADM'
      tags:
        - 'M05: Comments'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200': 
          description: 'Ok.'

  /comment/{id}/like:
    post:
      operationId: R504
      summary: 'R504: Like Comment'
      description: 'Likes/unlikes a comment. Access: AUTH'
      tags:
        - 'M05: Comments'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok.'


############################################ GROUPS ############################################

  /groups:
    get:
      operationId: R602
      summary: 'R602: List Groups'
      description: 'Show groups page. Access: VIS'
      tags:
        - 'M06: Groups'
      responses:
        '200':
          description: 'Success.'

    post:
      operationId: R605
      summary: 'R605: Create Group'
      description: 'Creates a new group. Access: AUTH'
      tags:
        - 'M06: Groups'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                picture:
                  type: string
                  format: binary
                is_public:
                  type: boolean
      responses:
        '302':
          description: 'Redirect.'

  /groups/{id}:
    get:
      operationId: R601
      summary: 'R601: View Group'
      description: 'Show group page. Access: VIS'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

    put:
      operationId: R604
      summary: 'R604: Update Group'
      description: 'Updates group details. Access: OWN'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                picture:
                  type: string
                  format: binary
                is_public:
                  type: boolean
      responses:
        '302':
          description: 'Redirect.'

    delete:
      operationId: R608
      summary: 'R608: Delete Group'
      description: 'Deletes a group. Access: OWN, ADM'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect.'

  /groups/{id}/edit:
    get:
      operationId: R603
      summary: 'R603: Edit Group Form'
      description: 'Show page for editing group. Access: OWN'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: True
      responses:
        '200':
          description: 'Success.'

  /groups/{id}/join:
    post:
      operationId: R606
      summary: 'R606: Join Group'
      description: 'Joins a public group. Access: AUTH'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /groups/{id}/leave:
    post:
      operationId: R607
      summary: 'R607: Leave Group'
      description: 'Leaves a group. Access: AUTH'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /groups/{id}/request:
    delete:
      operationId: R610
      summary: 'R610: Cancel Join Request'
      description: 'Cancels join request. Access: AUTH'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /groups/{group}/accept/{user}:
    post:
      operationId: R611
      summary: 'R611: Accept Join Request'
      description: 'Accepts a join request. Access: OWN'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
        - in: path
          name: user
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /groups/{group}/reject/{user}:
    delete:
      operationId: R612
      summary: 'R612: Reject Join Request'
      description: 'Rejects a join request. Access: OWN'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: group
          schema:
            type: integer
          required: true
        - in: path
          name: user
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /groups/{id}/members/{user}:
    delete:
      operationId: R613
      summary: 'R613: Remove Member'
      description: 'Removes a member from the group. Access: OWN'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: user
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /groups/{id}/invite:
    post:
      operationId: R614
      summary: 'R614: Invite User'
      description: 'Invites a user to the group. Access: OWN'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  user_id: 
                    type: integer
                required:
                  - user_id
      responses:
        '200':
          description: 'Success.'

  /groups/{id}/accept-invite:
    post:
      operationId: R616
      summary: 'R616: Accept Invite'
      description: 'Accepts group invitation. Access: AUTH'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'

  /groups/{id}/reject-invite:
    delete:
      operationId: R617
      summary: 'R617: Reject Invite'
      description: 'Rejects group invitation. Access: AUTH'
      tags:
        - 'M06: Groups'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Success.'